.slide-in {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


.button-clicked {
  animation: clickEffect 0.3s ease;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
    background-color: #eee;
  }
  50% {
    transform: scale(0.95);
    background-color: red;
  }
  100% {
    transform: scale(1);
    background-color: #eee;
  }
}

button {
  display: flex;              /* enable flexbox */
  justify-content: center;    /* horizontal center */
  align-items: center;        /* vertical center */
  font-family: monospace;
}

button img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}
